@model Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div>
    <h4>員工資訊</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpSex)
        </dt>

        <dd>
            @{
                if (Model.EmpSex == "0")
                {
                    @:女
                }
                else if (Model.EmpSex == "1")
                {
                    @:男
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpBirth, "DateTimeTemp")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate, "DateTimeTemp")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate, "DateTimeTemp")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpAccountState)
        </dt>

        <dd>
            @{
                if (Model.EmpAccountState == "1")
                {
                    @:啟用
                }
                else
                {
                    @:停用
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", "Employees", new { id = Model.EmpNo }, new { Area = "Admin", @class = "btn btn-warning" }) |
    @Html.ActionLink("回到列表", "Index", "Employees", null, new { Area = "Admin", @class = "btn btn-info" })
</p>
