@model IEnumerable<AllShowMVC.Models.Employee>

@{
    ViewBag.Title = "員工列表";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>員工列表</h2>

<p>
    @Html.ActionLink("新增員工", "Create", "Employees", null, new { Area = "Admin", @class = "btn btn-primary" })
</p>
<div id="app">
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>@Html.DisplayNameFor(model => model.EmpName)</th>
                <th>@Html.DisplayNameFor(model => model.EmpEmail)</th>
                <th>@Html.DisplayNameFor(model => model.EmpBirth)</th>
                <th>@Html.DisplayNameFor(model => model.EmpTel)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in EmployeeList">
                <td class="table-active">{{item.EmpName}}</td>
                <td>{{item.EmpEmail}}</td>
                <td>{{item.EmpBirth}}</td>
                <td>{{item.EmpTel}}</td>
                <td>
                    <button type="button" v-on:click="EditEmp(item.EmpNo)" class="btn btn-warning">編輯</button>
                    <button type="button" v-on:click="DetailEmp(item.EmpNo)" class="btn btn-info">詳細</button>
                    <button type="button" v-on:click="DeleteEmp(index,item.EmpNo)" class="btn btn-danger">刪除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var url = '@Url.Action(null, "Employees", new { Area = "Admin" })';
    var apiUrl = '@Url.HttpRouteUrl("DefaultApi", new { controller= "Employees" })/';   
</script>
<script src="~/scripts/Admin/Employees/Index.js"></script>
