<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/axios")
    <script>
        var baseInstance = axios.create({
            baseURL: window.location.origin
        });

        var ResInformation = '@AllShowResource.Information';
        var ResErrorMsg = '@AllShowResource.ErrorMsg';
        var ResField_Require_InputMsg = '@AllShowResource.Field_Require_Input';
        var ResDeleteConfirmMsg = '@AllShowResource.DeleteConfirmMsg';
        var ResDeleteSuccessMsg = '@AllShowResource.DeleteSuccess';

        var elemRequiredArr = [];
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    @Scripts.Render("~/bundles/SharedJS")
    <style>
        body {
            padding-top: 70px;
        }

        .txtRed {
            color: red
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="@Url.Action("Index", new { Area = "Admin" })">
                <img src="~/images/bird.jpg" alt="logo" style="width:40px;">
            </a>
            <!-- 漢堡選單 -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarItem">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    @Html.ActionLink("首頁", "Index", "Home", new { area = "Admin" }, new { @class = "nav-item nav-link active" })
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">人事管理</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("員工列表", "Index", "Employees", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("員工新增", "Create", "Employees", new { area = "Admin" }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">權限管理</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("權限列表", "Index", "Authority", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("權限新增", "Create", "Authority", new { area = "Admin" }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">商店管理</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("商店類別列表", "Index", "ShClasses", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("商店類別新增", "Create", "ShClasses", new { area = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("商店列表", "Index", "Shops", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("商店新增", "Create", "Shops", new { area = "Admin" }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>    
    @RenderSection("scripts", required: false)
</body>
</html>
